body {
    margin: 0;
  }
  header {
    background-color: black;
    padding: 30px;
  }
  header ul {
    float: right;
    color: white;
  }
  header li {
    display: inline-block;
    padding: 10px;
  }
  header p {
    display: inline-block;
  }
  .heroImg {
    background-color: white;
    padding: 100px 15px;
  }
  .content {
    max-width: 300px;
    margin: 0 auto;
    padding: 50px;
    background-color:white;
    text-align: center;
  }
  button {
    padding: 30px;
    background-color:black;
    color: white;
    font-size: 30px;
    border-radius: 8px;
  }
  footer {
    background-color:black;
    padding: 30px;
    color: white;
  }
  footer ul {
    list-style: none;
    padding-left: 5px;
  }
  footer li {
    display: inline-block;
    padding: 30px;
  }
  .heading {
    text-align: center;
    padding: 15px 5px;
    font-size: 40px;
  }

  .flexContainer {
    display: flex;
    padding: 60px 30px;
  }
  .flexContainer div {
    width: 33%;
    padding: 40px;
  }
  

  .myProjects {
    padding: 60px 30px;
    padding-top: 0;
    background-color: white;
  }
  .projectsGrid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 300px 300px 300px;
    grid-template-areas:
    "img1 content1"
    "img2 content2"
    "img3 content3"
    ;
  }
  .projectsGrid img {
    width: 100%;
    max-width: 250px;
    margin: 0 auto;
    display: block;
  }
  .img1 {
    grid-area: img1;
  }
  .img2 {
    grid-area: img2;
  }
  .img3 {
    grid-area: img3;
  }
  .img1, .img2, .img3, .content1, .content2, .content3 {
    padding: 100px;
  }
  .content1 {
    grid-area: content1;
  }
  .content2 {
    grid-area: content2;
  }
  .content3 {
    grid-area: content3;
  }
  